html {
	/*height: 95%;
	outline: 3px double #666;*/	
}
body {
	/*height: 100%;
	width: auto;*/
	
	/*min-width: 2000px;
	position: absolute;
	
	-webkit-column-width: 800px;
	-webkit-column-gap: 200px;
	-webkit-column-rule: 3px double #999;
	
	-moz-column-width: 800px;
	-moz-column-gap: 200px;*/
	
	/*border: 1px solid;*/
}

header, section, footer {
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: 0;
	border: none;
	padding: 0 2% 3em 2%;
	visibility: hidden;
	overflow: auto;
}
.current {
	visibility: visible;
}