body {
	font-family:
		'XinGothic', 
		'Hiragino Sans GB', 
		'WenQuanYi Micro Hei', 
		'Droid Sans', 
		'Hei SC', 
		'Microsoft Yahei', 
		sans-serif;
	line-height: 1.5;
}
a {
	text-decoration: none;
}
body>footer {
    position: fixed;
    left: 0; bottom: 0;
}
