{% if page.quirk %}<!-- enable IE6/IE7 quirk mode -->{% endif %}<!doctype html>
<html{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
<head>
<meta charset="utf-8">
<!-- metadata -->
<title>{{ page.title }}</title>
<meta name="author" content="hax">
<!-- IE compatible mode -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- device adapt -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"><!--target-densitydpi=device-dpi-->
<!-- iOS features -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" href="/images/icon.png">
<link rel="apple-touch-icon-precomposed" href="/images/icon.png">
<script>
document.addEventListener('DOMContentLoaded', function() {
	// scrolling 1px to hide address bar of mobile browsers
	window.scrollTo(0, 1)
}, false)
</script>

{% if page.style %}
<style>
{{ page.style }}
</style>
{% else %}
<link rel="stylesheet" href="/common.css">
<!--
<link rel="stylesheet" media="handheld, only screen and (max-device-width: 320px)" href="phone.css">
<link rel="stylesheet" media="only screen and (min-width: 641px) and (max-width: 800px)" href="pad.css">
-->
{% endif %}

{% if page.head %}
{{ page.head }}
{% endif %}

<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1882727-3']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script src="https://gnab.github.io/remark/downloads/remark-latest.min.js"></script>

</head>
<body>

{{ content }}

<footer>
    <p class="copyright"><small>&copy; <b title="賀師俊">HE Shi-Jun</b> 2012-2015, some 

rights reserved.</small>
	<!--<p class="sponsor"><small>Hosted by GitHub</small>-->
</footer>

</body>
</html>
