{% if page.quirk %}<!-- enable IE6/IE7 quirk mode -->{% endif %}<!doctype html>
<html{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
<head>
<meta charset="utf-8">
<!-- metadata -->
<title>{{ page.title }}</title>
<meta name="author" content="hax">
<!-- device adapt -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><!--user-scalable=no, target-densitydpi=device-dpi-->
<!-- iOS features -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!--<link rel="apple-touch-icon" href="/images/icon.png">
<link rel="apple-touch-icon-precomposed" href="/images/icon.png">-->

{% if page.style %}
<style>
{{ page.style }}
</style>
{% else %}
<link rel="stylesheet" href="/common.css">
<!--
<link rel="stylesheet" media="handheld, only screen and (max-device-width: 320px)" href="phone.css">
<link rel="stylesheet" media="only screen and (min-width: 641px) and (max-width: 800px)" href="pad.css">
-->
{% endif %}

{% if page.slide == remark %}
<link rel="stylesheet" href="／remark-custom.css">
<script src="https://gnab.github.io/remark/downloads/remark-latest.min.js"></script>
{% endif %}

{% if page.head %}
{{ page.head }}
{% endif %}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-1882727-3', 'auto');
ga('send', 'pageview');
</script>

</head>
<body>

{{ content }}

<footer>
	<p class="copyright"><small>&copy; <b title="贺师俊">HE Shi-Jun</b> 2011-2015, some rights reserved.</small>
	<!--<p class="sponsor"><small>Hosted by GitHub</small>-->
</footer>

</body>
</html>
