html {
	background: black;
	color: white;
	font-family: Helvetica, 'Matisse Pro EB', 'Matisse EB',
		'Noto Serif CJK', 'Noto Serif CJK SC',
		'Source Han Serif', 'Source Han Serif SC',
		'LiSong Pro', 'Hiragino Mincho', 'Mincho', 'STSong';
}
