html {
	background: #fcfcf0;
	color: black;
}

a {
	color: #006;
}

strong {
	color: #c00;
}

small {
	color: #666;
}

small a {
	color: #69c;
}

code {
	background: #f0f0f0; padding: 0 0.25ch;
	border-radius: 0.25ch;
	color: #333;
}

.hr {
	/* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
	color: #999;
}
